.container-fluid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

section p:first-letter {
    text-transform: capitalize
}

